<!doctype html>
<html>
<head>
  <title>Caesar's Cipher</title>
  <link rel=stylesheet type=text/css href="../static/styles/style.css" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>

  <div class="container">

    <h1>Caesar's Cipher</h1>
    <h2>Text to cryptofy:</h2>
    <textarea id="inputText" name="text_input"></textarea>
    <input id="slider" type="range" min="0" max="25" value="1">
    <p>Value: <span id="sliderValue"></span></p>
    <textarea id="outputText" name="text_result"></textarea>

  </div>
  <img src="../static/julius-skrrt_1x_right.png" alt="julius" class="juliusImg">

  <script>
    const sliderElement = document.getElementById("slider");
    const sliderValueElement = document.getElementById("sliderValue");
    
    // Display the default slider value
    sliderValueElement.innerHTML = sliderElement.value;
    
    // Update the current slider value (each time you drag the slider handle)
    sliderElement.oninput = function() {
        sliderValueElement.innerHTML = this.value;
    }
    
    let inputTextElement = document.getElementById("inputText");
    
    $('#inputText').keyup(function () {
        getCipher(inputTextElement.value, sliderValueElement.innerHTML);
    });
    
    
    $('#slider').change(function () {
        getCipher(inputTextElement.value, sliderValueElement.innerHTML);
    });
    
    
    function getCipher (textValue, sliderValue) {
        $.ajax({
            type: "GET",
            url: '/cipher',
            data: {value: textValue, rot_x: sliderValue},
            success: function(data){
            document.getElementById("outputText").value = data;
            },
            dataType: "text"
        })
    }
    
  </script>
  
</body>
</html>

